.request-list {
    max-width: 800px;
    margin: 0 auto;
    align-items: left;
    display: flex;
    flex-direction: column;
}

.request-list__title {
    font-size: 22px;
    font-weight: bold;
    border-left: 6px solid #000;
    padding: 2px 15px;
    margin-top: 65px;
}

.request-list__tabs {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.request-list__tab {
    margin-left: 50px;
    text-decoration: none;
    color: #000;
}

.t__head-tr {
    border-bottom: 3px solid #e1e1e1;
}

.request-list__th {
    color: #737373;
    padding-left: 10px;
}

.request-list__td {
    color: #737373;
    padding-left: 0px;
    border-bottom: 2px solid #e7e7e7;
    text-align: left;
}

.request-list__th,
.request-list__td {
    padding: 12px 24px;
    text-align: left;
}

.t__body tr:last-child td {
    border-bottom: none;
}

.request-list__table {
    background-color: #fff;
    width: 100%;
    margin-top: 40px;
    border: none;
    border-radius: 8px;
    border-collapse: collapse;
}

.request-list__tab--active {
    color: #000;
    font-weight: bold;
}

.request-list__link {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.request-list__empty {
    text-align: center;
}

/* 日付列 */
.request-list__th:nth-child(1),
.request-list__td:nth-child(1) {
    width: 16%;
    padding-left: 32px;
}

.request-list__th:nth-child(2),
.request-list__td:nth-child(2) {
    width: 16%;
    padding-left: 32px;
}

.request-list__th:nth-child(3),
.request-list__td:nth-child(3) {
    width: 18%;
    padding-left: 32px;
}

.request-list__th:nth-child(4),
.request-list__td:nth-child(4) {
    width: 22%;
    padding-left: 32px;
}

.request-list__th:nth-child(5),
.request-list__td:nth-child(5) {
    width: 18%;
    padding-left: 32px;
}

.request-list__th:nth-child(6),
.request-list__td:nth-child(6) {
    width: 10%;
    text-align: center;
    padding-left: 0;
}