.attendance-show {
    max-width: 800px;
    margin: 0 auto;
    align-items: left;
    display: flex;
    flex-direction: column;
}

.attendance-show__title {
    font-size: 22px;
    font-weight: bold;
    border-left: 6px solid #000;
    padding: 2px 15px;
    margin-top: 65px;
    margin-bottom: 40px;
}

.attendance-show__card {
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 6px;

}

.attendance-show__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 25px 40px;
    border-bottom: 1px solid #eee;
}

.attendance-show__label {
    width: 260px;
    color: #737373;
    text-align: left;
    font-size: 15px;
}

.attendance-show__value {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: bold;
}

.attendance-show__footer {
    margin-top: 5px;
    text-align: right;
}

.attendance-show__edit-btn {
    font-size: 18px;
    color: #fff;
    background-color: #000;
    padding: 5px 35px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-top: 30px;
}

.attendance-show__note {
    color: #ff4444;
    text-align: right;
    font-size: 14px;
}

.attendance-show__date {
    display: flex;
    justify-content: space-between;
}

.attendance-show__year,
.attendance-show__day {
    font-weight: bold;
}

.attendance-show__value .time-input {
    width: 80px;
    height: 24px;
    /* ここ小さくできる */
    padding: 0 6px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    /* ← これが最重要 */
    text-align: center;
}

.attendance-show__date,
.attendance-show__value--time {
    width: 260px;
    /* ←ここだけ好みで調整すれば揃う */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attendance-show__row:last-of-type {
    border-bottom: none;
}

.note-input {
    width: 260px;
    min-height: 80px;
    padding: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;

    line-height: 1.4 !important;
    /* ← これが “ズレ” を完全に殺す唯一の方法 */

    resize: none;
    overflow: auto;
    white-space: pre-wrap;
    font-weight: bold;
}

.input-error {
    color: #ff4444;
    font-size: 13px;
    margin-top: 2px;
    margin-left: 340px;
    ;
}