.admin-login {
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.admin-login__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.admin-login__form {
    width: 60%;
    max-width: 600px;
    align-items: center;
    gap: 24px;
    margin-top: 5px;
}

.login__group {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
}

.admin-login__label {
    font-weight: bold;
    border-radius: 6px;
}

.admin-login__input {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
}

.admin-login__btn {
    margin-top: 65px;
    display: block;
    color: #fff;
    background-color: #000;
    width: 100%;
    padding: 8px 6px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #000;
}

.login__error {
    font-size: 12px;
    color: #ff0000;
    margin-top: 0;
}