body {
    margin: 0;
    padding: 0;
}

/* ヘッダー全体 */
.admin-header {
    width: 100%;
    height: 60px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
}

/* ロゴの位置とサイズ */
.admin-header__left a {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.admin-header__left {
    display: flex;
    align-items: center;
    gap: 40px;
    /* ロゴとメニューの間の余白（お好みで調整） */
}

.header__logo {
    height: 27px;
    object-fit: contain;
}

/* 未ログイン・ログイン時のナビ */
.admin-header__nav {
    display: flex;

    gap: 30px;
}

/* ナビテキスト */
.header__nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.header__logout {
    border: none;
    background: none;
}

.header__logout-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

/* ログイン後の背景 */
.main--auth {
    background-color: #f0eff2;
    min-height: 100vh;
}

/* ログイン画面・会員登録画面は白背景のまま */
.main--guest {
    background-color: #ffffff;
    min-height: auto;
}