.attendance-staff {
    max-width: 800px;
    margin: 0 auto;
    align-items: left;
    display: flex;
    flex-direction: column;
}

.attendance-staff__title {
    font-size: 22px;
    font-weight: bold;
    border-left: 6px solid #000;
    padding: 2px 15px;
    margin-top: 65px;
}

.attendance-staff__nav {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 10px 20px;
    justify-content: space-between;
    margin: 40px 0;
    color: #737373;
    text-decoration: none;
}

.attendance-staff__nav-center {
    display: flex;
    align-items: center;
    /* ← これで縦位置が完全に中央揃え */
    gap: 8px;
    color: #000;
    font-weight: bold;
}

.attendance-list__nav-link {
    text-decoration: none;
    color: #737373;
}

.attendance-list__nav-link--prev,
.attendance-list__nav-link--next {
    text-decoration: none;
}

.attendance-staff__table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 6px;
}

.staff-th {
    text-align: left;
    color: #737373;
    border-bottom: none;
    padding-top: 6px;
    padding-bottom: 6px;
}

.attendance-list__month-nav a.attendance-list__next,
.attendance-list__month-nav a.attendance-list__prev {
    color: #737373;
}

.attendance-list__current-month {
    display: flex;
    align-items: center;
    /* ← これで縦位置が完全に中央揃え */
    gap: 8px;
    color: #000;
    font-weight: bold;
}

.attendance-staff__icon {
    width: 26px;
    height: 26px;
    fill: #555;
}

.detail-btn {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.t__head-tr {
    border-bottom: 3px solid #e1e1e1;
}

.staff-td {
    color: #737373;
    padding-left: 0px;
    border-bottom: 2px solid #e7e7e7;
    padding-top: 6px;
    padding-bottom: 6px;
}

.staff th,
.staff td {
    padding: 14px 0;
    font-size: 14px;
    color: #737373;
}

.t__body tr:last-child td {
    border-bottom: none;
}

.t__body-tr {
    text-align: center;
}

.t__head {
    position: relative;
}

.t__head::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: #e1e1e1;
}

.t__head-th:first-child {
    text-align: left;
    padding-left: 26px;
}

/* 日付 */
.staff-th:nth-child(1),
.staff-td:nth-child(1) {
    width:25%;
    text-align: left;
    padding-left: 32px;
}

/* 出勤・退勤・休憩・合計 */
.staff-th:nth-child(2),
.staff-td:nth-child(2),
.staff-th:nth-child(3),
.staff-td:nth-child(3),
.staff-th:nth-child(4),
.staff-td:nth-child(4),
.staff-th:nth-child(5),
.staff-td:nth-child(5),
.staff-th:nth-child(6),
.staff-td:nth-child(6) {
    width: 20%;
    text-align: center;
}

.attendance-staff__footer {
    text-align: right;
    margin-top: 50px;
}

.attendance-staff__csv-btn {
    color: #fff;
    background-color: #000;
    padding: 8px 25px;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 6px;
    text-decoration: none;
}