.list-request {
    max-width: 800px;
    margin: 0 auto;
    align-items: left;
    display: flex;
    flex-direction: column;
}

.list-request__title-text {
    font-size: 22px;
    font-weight: bold;
    border-left: 6px solid #000;
    padding: 2px 15px;
    margin-top: 65px;
}

.list-request__tabs {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.list-request__tab {
    margin-left: 50px;
    text-decoration: none;
    color: #000;
}

.t__head-tr {
    border-bottom: 3px solid #e1e1e1;
}

.t__head-th {
    color: #737373;
    padding-left: 10px;
}

.t__body-td {
    color: #737373;
    padding-left: 0px;
    border-bottom: 2px solid #e7e7e7;
}

.t__head th,
.t__body td {
    padding: 12px 24px;
    text-align: left;
}

.t__body tr:last-child td {
    border-bottom: none;
}

.list-request__table {
    background-color: #fff;
    width: 100%;
    margin-top: 40px;
    border: none;
    border-radius: 8px;
    border-collapse: collapse;
    table-layout: fixed;
}

.list-request__tab--active {
    color: #000;
    font-weight: bold;
}

.list-request__detail-link {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

/* 日付列 */
.t__head-th:nth-child(1),
.t__body-td:nth-child(1) {
    width: 16%;
    padding-left: 32px;
}

.t__body-td:nth-child(1) {
    text-align: center;
}

.t__head-th:nth-child(2),
.t__body-td:nth-child(2) {
    width: 16%;
    padding-left: 32px;
}

.t__head-th:nth-child(3),
.t__body-td:nth-child(3) {
    width: 18%;
    padding-left: 32px;
}

.t__head-th:nth-child(4),
.t__body-td:nth-child(4) {
    width: 22%;
    padding-left: 32px;
}

.t__head-th:nth-child(5),
.t__body-td:nth-child(5) {
    width: 20%;
    padding-left: 32px;
}

.t__head-th:nth-child(6),
.t__body-td:nth-child(6) {
    width: 10%;
    text-align: center;
    padding-left: 0;
}