.login {
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login__title-content {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.login__form {
    width: 60%;
    max-width: 600px;
    align-items: center;
    gap: 24px;
    margin-top: 5px;
}

.login__group {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
}

.login__label {
    font-weight: bold;
    border-radius: 6px;
}

.login__input {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
}

.login__button {
    margin-top: 65px;
    display: block;
    color: #fff;
    background-color: #000;
    width: 100%;
    padding: 8px 6px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #000;
}

.login__register-link {
    text-align: center;
    margin: 18px auto;
}

.login__link-text {
    text-decoration: none;
    color: #4b91d7;
}

.login__error {
    font-size: 12px;
    color: #ff0000;
    margin-top: 0;
}