.request-show {
    max-width: 800px;
    margin: 0 auto;
    align-items: left;
    display: flex;
    flex-direction: column;
}

.request-show__title {
    font-size: 22px;
    font-weight: bold;
    border-left: 6px solid #000;
    padding: 2px 15px;
    margin-top: 65px;
    margin-bottom: 40px;
}

.request-show__card {
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 6px;

}

.request-show__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 25px 40px;
    border-bottom: 1px solid #eee;
}

.request-show__label {
    width: 260px;
    color: #737373;
    text-align: left;
    font-size: 15px;
}

.request-show__value {
    display: grid;
    align-items: center;
    font-weight: bold;
    grid-template-columns: 1fr auto 1fr;
    gap: 60px;
}

.request-show__date {
    display: flex;
    justify-content: space-between;
}

.request-show__year,
.request-show__day {
    font-weight: bold;
}

.request-show__footer {
    margin-top: 5px;
    text-align: right;
}

.request-show__btn {
    font-size: 18px;
    color: #fff;
    background-color: #000;
    padding: 5px 32px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-top: 30px;
}

.request-show__btn--done {
    background-color: #696969;
    color: #fff;
    border: 1px solid #696969;
    padding: 5px 16px;
}

.request-show__note {
    color: #ff4444;
    text-align: right;
    font-size: 14px;
}

.attendance-show__value .time-input {
    width: 80px;
    height: 24px;
    /* ここ小さくできる */
    padding: 0 6px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    /* ← これが最重要 */
    text-align: center;
}

.attendance-show__row:last-of-type {
    border-bottom: none;
}

