.admin-login {
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.admin-login__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.admin-login__form {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 600px;
}

.admin-login__label {
    font-weight: bold;
    margin-top: 40px;
}

.admin-login__input {
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #000;
    margin-top: 5px;
}

.admin-login__btn {
    margin-top: 60px;
    color: #fff;
    background-color: #000;
    padding: 5px 14px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 6px;
}