.register {
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.register__title-content {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.register__form {
    width: 60%;
    max-width: 600px;
    align-items: center;
    gap: 24px;
    margin-top: 5px;
}

.register__group {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
}

.register__label {
    font-weight: bold;
}

.register__input {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #000;
}

.register__button {
    margin-top: 65px;
    display: block;
    color: #fff;
    background-color: #000;
    width: 100%;
    padding: 7px 4px;
    font-size: 15px;
    border: 6px;
}

.register__login-link {
    text-align: center;
    margin: 18px auto;
}

.register__link-text {
    text-decoration: none;
    color: #4b91d7;
}

.register__error {
    font-size: 12px;
    color: #ff0000;
    margin-top: 0;
}