.index {
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.index__status {
    margin-top: 160px;
}

.index__status-label {
    background-color: #c8c8c8;
    padding: 5px 10px;
    border-radius: 30px;
    color: #7c7c7c;
    margin-bottom: 5px;
}

.index__date {
    margin: 20px;
    font-size: 22px;
}

.index__time {
    font-size: 40px;
    margin-top: 5px;
    font-weight: bold;
}

.index__button {
    font-size: 22px;
    padding: 10px 30px;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 15px;
    margin: 50px;
}